.results {
  display: table;
  width: 100%;
  table-layout: auto;
}

.results thead th, .citation_result td {
  border-right: 1px solid white;
  padding: 0 .2em;
  text-align: center;
}
.results thead th:last-child, .citation_result td:last-child {
  border-right: none;
}
.results th {
  position: sticky;
  top: 0;
  background: black;
}

.citation_result:nth-child(even) {
  background-color: #3a6373;
}

.App-link {
  color: #61dafb;
}
