.App-link {
  color: #61dafb;
}

.navigation {
  position: sticky;
  top: 0;
  margin-bottom: 1em;
  background: #282c34;
}

.row {
  display: flex;
  flex-direction: row;
}
.row:nth-child(even) {
  background-color: #076b86;
}

.row label {
  margin-right: 0.6em;
  font-weight: bold;
  min-width: 25%;
}

.row label:after {
  content: ':';
}
